.container {
    padding: 80px 0;
  }
  .content {
    position: relative;
  }
  .screen {
      display: block;
      width: 300px;
      height: 350px;
      overflow: hidden;
      position: relative;
      border: 2px solid #b3b3b3;
      border-radius: 1px;
      margin: 0 auto;
  }
  .screen img {
      bottom: -500px;
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 0;
      margin:0;
      padding:0;
      -webkit-transition: top 11s linear;
      -moz-transition: top 11s linear;
      -ms-transition: top 11s linear;
      -o-transition: top 11s linear;
      transition: bottom 11s linear;
  }
  .screen:hover img {
    bottom: 0;
    -webkit-transition: all 11s linear;
    -moz-transition: all 11s linear;
    -ms-transition: all 11s linear;
    -o-transition: all 11s linear;
    transition: all 11s linear;
  }

  /* .skeleton {
    background-color: #e0e0e0;
    animation: pulse 2s infinite ease-out;
  }

  @keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
  } */
